# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives
### List popular languages for Data Science
- python
- C
- C++
- JAVA

Some of the popular languages that Data Scientists use are:
1. Python
2. C
3. C++
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow

|Data Science Tools |
| -------------|
| Apache Spark |
| Tableau |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [12]:
#This will convert 200 minutes to hours by diving by 60.
minute = 200
hours = minute/60

hours

3.3333333333333335

## Author
Chaitanya